@mixin container {
  max-width: 1200px;
  margin: auto;
}

/* Delay fade-in for each card */
@mixin animation-delay-cascade {
  @for $i from 1 through 10 {
    .cascade-animation:nth-child(#{$i}) {
      animation-delay: #{$i * 0.1}s;
    }
  }
}


