/* Cascade fade-in cards */

@keyframes fadeIn {
  from {
    opacity: 0%;
    transform: translate(5%);
    overflow-x: hidden;
  }
  to {
    opacity: 100%;
    transform: translate(0);
  }
}

@keyframes cascade {
  from {
    opacity: 0%;
    transform: translateY(20px);
    overflow-x: hidden;
  }
  to {
    opacity: 100%;
    transform: translateY(0);
  }
}

@mixin lineHover {
  background-image: linear-gradient($tertiary-color, $tertiary-color);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size ease-in-out 0.5s;
  overflow-x: hidden;

  &:hover {
    text-decoration: none;
    background-size: 100% 2px;
  }
}
